<div class="block-wrapper delivery-date">
  <div class="block-title">4. {{ block.settings.block_title }}</div>
  <div class="block-content-wrapper block-content-wrapper-grid_2">
    <div class="block-content-item delivery-date-item">
      <div class="delivery-date-title">{{ block.settings.date_title }}</div>
      <div class="deliver-date-picker-wrapper">
        <input
          type="text"
          value="04/12/2025"
          class="deliver_date">
        <div class="deliver-calendar-wrapper"></div>
      </div>
    </div>
    <div class="block-content-item delivery-date-description">{{ block.settings.delivery_date_description }}</div>
  </div>
</div>