<div class="block-wrapper delivery-frequency">
  <div class="block-title">2. {{ block.settings.block_title }}</div>
  <div class="block-content-wrapper block-content-wrapper-grid_3">
    <div class="block-content-item delivery-freq-item ">{{ block.settings.weekly_text }}</div>
    <div class="block-content-item delivery-freq-item ">{{ block.settings.bi_weekly_text }}</div>
    <div class="block-content-item delivery-freq-item ">{{ block.settings.monthly_text }}</div>
  </div>
</div>